<div class="card">
    <h4 class="card-header"></h4>
    <div class="card-body">
        <h5 class="card-title">{{direccion_envio.direccion}}</h5>
        <div class="card-title">
            {{direccion_envio.reference}}
            <div class="card-title">
                {{direccion_envio.postal_code}}
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex gap-2">
                    <a href="{% url 'update' direccion_envio.pk %}" class="btn btn-primary">Editar</a>
                    {% if direccion_envio.default %}
                    <div class="mt-1">
                        <span class="badge bg-success">Direccion Principal</span>
                    </div>
                    {% else %}
                    <a href="{% url 'default' direccion_envio.pk %}" class="btn btn-warning">Default</a>
                </div>
                    <a href="{% url 'remove' direccion_envio.pk %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
            </div>
        </div>
    </div>
</div>